# Build and Release Folders
bin/
bin-debug/
bin-release/

# Private test folders
test/

# Other files and folders
.settings/

# Backup copies are not needed in the repository
*~
#ignore these files added by myself
.DS_Store

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
